@model List<Experience>


<h2 class="mb-5">@nameof(Experience) </h2>

@foreach (var item in Model.OrderByDescending(p => p.Id))
{
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">@item.ExPlace</h3>
            <div class="subheading mb-3">@item.ExTitle</div>
            <p>@item.ExDescription</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">@item.ExBeginning.Year - @item.ExEnding.Year</span></div>
    </div>


    
   

}